# Flutter & Dart build artifacts
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.log

# Generated plugin registries
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IDE & editor clutter
.idea/
.vscode/
*.iml

# macOS/Linux noise
.DS_Store
.dart_server/
